<%- include("../../views/partials/admin/header") %>
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.css">
    <style>
        
        input[name="search"] {
            border: 1px solid #ced4da;
        }
        
        input[name="search"]:focus {
            border-color: #80bdff;
            box-shadow: 0 0 5px rgba(0, 123, 255, .25);
        }
        
        input[type="submit"] {
            background-color: #007bff;
            color: white;
            border: none;
            padding: 10px 20px;
            border-radius: 50px;
            cursor: pointer;
        }
        
        input[type="submit"]:hover {
            background-color: #0056b3;
        }
        .actions{
           transform: translate(40px);
        }
        .quantitys{
            transform: translate(40px);
        }
        .edits{
            transform: translate(40px)
        }
        td.stock-low {
    color: red;
    font-weight: bold;
}
    </style>
</head>

<div class="content-header">
    <div>
        <h2 class="content-title card-title">Products</h2>
    </div>
</div>

<header class="card-header text-center mb-20">
    <form action="" method="get" class="d-inline">
        <div class="input-group input-group-sm border border-1 border-grey rounded-pill" style="width: 500px; margin-left: 230px;">
            <input type="text" class="form-control border-0 rounded-pill" placeholder="Search products or brands" name="search">
            <button class="border-0" type="submit">Search</button>
        </div>
    </form>
</header>

<div class="right mt-5">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col"style="width: 100px;"><b>Product name</b></th>
                <th scope="col"style="width: 100px;"><b>Brand</b></th>
                <th scope="col"style="width: 100px;"><b>Category</b></th>
                <th scope="col" style="width: 80px;"><b>Sale Price</b></th>
                <th scope="col" style="width: 80px;"><b>Stock</b></th>
                <th class="quantitys" scope="col" style="width: 100px;"><b>Quantity</b></th>
                <th class="actions" scope="col"style="width: 10px;"><b>Action</b></th>
                <th class="edits" scope="col" style="width: 10px"><b>Edit</b></th>
            </tr>
        </thead>
        <tbody>
        <% for (let i = data.length - 1; i >= 0; i--) { %>      
            <tr>
                <td><%= data[i].productName %></td>
                <td></td>
                <td><%= data[i].category.name %></td>
                <td><%= data[i].salePrice %></td>
                <td class="<%= data[i].stock < 5 ? 'stock-low' : '' %>"><%= data[i].stock %></td>
                <td style="text-align: center;"><%= data[i].quantity %></td>
                <td style="text-align: center;">
                    <% if (data[i].isBlocked === false) { %>
                        <button class="btn btn-danger" id="btn-<%= data[i]._id %>" onclick="confirmAction('<%= data[i]._id %>', 'block')" style="width: 80px;">
                            <a href="/admin/blockProduct?_id=<%= data[i]._id %>" class="text-white" style="text-decoration: none;">Block</a>
                        </button>
                    <% } else { %>
                        <button class="btn btn-success" id="btn-<%= data[i]._id %>" onclick="confirmAction('<%= data[i]._id %>', 'unblock')" style="width: 80px;">
                            <a href="/admin/unblockProduct?_id=<%= data[i]._id %>" class="text-white" style="text-decoration: none;">Unblock</a>
                        </button>
                    <% } %>
                </td>
                <td style="text-align: center;">
                    <button class="btn btn-info" style="width: 80px;">
                        <a href="/admin/editProduct?id=<%= data[i]._id %>" class="text-white" style="text-decoration: none;">Edit</a>
                    </button>
                </td>
            </tr>
        <% } %>
        </tbody>
    </table>
</div>

<div class="container mt-3">
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center mb-20" style="margin-right: 200px;">
            <% for (let i = 1; i <= totalPages; i++) { %>
                <li class="page-item <%= (i === currentPage) ? 'active' : '' %>">
                    <a class="page-link" href="?page=<%= i %>"><%= i %></a>
                </li>
            <% } %>
        </ul>
    </nav>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<%- include("../../views/partials/admin/footer") %>
