<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Shop the best products at Royal Hub. High-quality items with amazing deals.">
    <meta name="keywords" content="Male_Fashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <meta name="description" content="Male_Fashion Template"> -->
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Royal hub products</title>


    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
    rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
</head>
<style>
    .header__logo{
    width: 100px;
    height: 100px;
    position: relative;
    top: -30px;
    
}

.product__details__pic__item{
    height: 55rem;
    width: 30rem;
}
.product__details__pic{
    height: 35rem;
    background-color: white;
    
}

.imagefit{
    
  width: 100%; /* or a specific size */
  height: 300px;
  object-fit: contain;
}
.addbut{
    background-color: black;
    color: white;
    text-transform: uppercase;
      font-size: 14px;
      border-radius: 4px;
      text-decoration: none;
      font-weight: 600;
      transition: background-color 0.3s, transform 0.3s;
      width: 150px;
      height: 50px;
}


</style>

<body>
   
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="header__logo">
                        <a href="/"><img loading="lazy" src="/img/royalwhitelogo.jpeg" alt="Royalhub-logo"></a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <nav class="header__menu mobile-menu">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li class="active"><a href="/shop">Shop</a></li>
                            <!-- <li><a href="#">Pages</a>
                                <ul class="dropdown">
                                    <li><a href="./about.html">About Us</a></li>
                                    <li><a href="./shop-details.html">Shop Details</a></li>
                                    <li><a href="./shopping-cart.html">Shopping Cart</a></li>
                                    <li><a href="./checkout.html">Check Out</a></li>
                                    <li><a href="./blog-details.html">Blog Details</a></li>
                                </ul>
                            </li>
                            <li><a href="./blog.html">Blog</a></li>
                            <li><a href="/contact.html">Contacts</a></li> -->
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="header__nav__option">
                        <a href="#" class="search-switch"><img loading="lazy" src="/img/icon/search.png" alt="search-icon"></a>
                        <a href="/whishlist"><img loading="lazy" src="/img/icon/heart.png" alt="whishlist-icon"></a>
                        <a href="/cart"><img loading="lazy" src="/img/icon/cart.png" alt="cart-icon"> <span>0</span></a>
                        <!-- <div class="price">$0.00</div> -->
                    </div>
                </div>
            </div>
            <div class="canvas__open"><i class="fa fa-bars"></i></div>
        </div>
    </header>
    <!-- Header Section End -->

    <!-- Shop Details Section Begin -->
    <section class="shop-details">
        <div class="product__details__pic">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="product__details__breadcrumb">
                            <a href="/">Home</a>
                            <a href="/shop">Shop</a>
                            <span>Product Details</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-3">
                        <ul class="nav nav-tabs" role="tablist">
                          <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab">
                                    <div class="product__thumb__pic set-bg" data-setbg="/uploads/re-image/<%=proData.productImage[0]%>">
                                    </div>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab">
                                    <div class="product__thumb__pic set-bg" data-setbg="/uploads/re-image/<%=proData.productImage[1]%>">
                                    </div>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tabs-3" role="tab">
                                    <div class="product__thumb__pic set-bg" data-setbg="/uploads/re-image/<%=proData.productImage[2]%>">
                                    </div>
                                </a>
                            </li>
                            <!-- <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tabs-4" role="tab">
                                    <div class="product__thumb__pic set-bg" data-setbg="img/shop-details/thumb-4.png">
                                        <i class="fa fa-play"></i>
                                    </div>
                                </a>
                            </li> -->
                        </ul>
                    </div>
                    <div class="col-lg-6 col-md-9">
                        <div class="tab-content">
                            <div class="tab-pane active" id="tabs-1" role="tabpanel">
                                <div class="product__details__pic__item">
                                    <img loading="lazy" id="magnifyImg1" class="imagefit" src="/uploads/re-image/<%=proData.productImage[0]%>" alt="Image of <%= proData.productName %>">
                                </div>
                            </div>
                            <div class="tab-pane" id="tabs-2" role="tabpanel">
                                <div class="product__details__pic__item">
                                    <img loading="lazy" id="magnifyImg2" class="zoom-image" src="/uploads/re-image/<%=proData.productImage[1]%>" alt="Image of <%= proData.productName %>">
                                </div>
                            </div>
                            <div class="tab-pane" id="tabs-3" role="tabpanel">
                                <div class="product__details__pic__item">
                                    <img loading="lazy" id="magnifyImg3" src="/uploads/re-image/<%=proData.productImage[2]%>" alt="Image of <%= proData.productName %>">
                                </div>
                            </div>
                            <!-- <div class="tab-pane" id="tabs-4" role="tabpanel">
                                <div class="product__details__pic__item">
                                    <img src="img/shop-details/product-big-4.png" alt="">
                                    <a href="https://www.youtube.com/watch?v=8PJ3_p7VqHw&list=RD8PJ3_p7VqHw&start_radio=1" class="video-popup"><i class="fa fa-play"></i></a>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="product__details__content">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-8">
                        <div class="product__details__text">
                            <a href="/product/<%= proData.slug %>">
                                <h3><%= proData.productName %></h3>
                            </a>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                                <span> - 5 Reviews</span>
                            </div>
                            <h3> $<%=proData.salePrice%><span><%=proData.productOffer%></span></h3>
                            <p><%=proData.description%>.</p>


                            <h6 class="quantity  my-3" ><%= proData.stock==0?'Sold out':'Only '+proData.stock+' left'%></h6>
                            <!-- <p>Available stock: <%= proData.stock%></p> -->

                            
                            <!-- <div class="product__details__option"> -->
                                <!-- <div class="product__details__option__size">
                                    <span>Size:</span>
                                    <label for="xxl">xxl
                                        <input type="radio" id="xxl">
                                    </label>
                                    <label class="active" for="xl">xl
                                        <input type="radio" id="xl">
                                    </label>
                                    <label for="l">l
                                        <input type="radio" id="l">
                                    </label>
                                    <label for="sm">s
                                        <input type="radio" id="sm">
                                    </label>
                                </div>
                                <div class="product__details__option__color">
                                    <span>Color:</span>
                                    <label class="c-1" for="sp-1">
                                        <input type="radio" id="sp-1">
                                    </label>
                                    <label class="c-2" for="sp-2">
                                        <input type="radio" id="sp-2">
                                    </label>
                                    <label class="c-3" for="sp-3">
                                        <input type="radio" id="sp-3">
                                    </label>
                                    <label class="c-4" for="sp-4">
                                        <input type="radio" id="sp-4">
                                    </label>
                                    <label class="c-9" for="sp-9">
                                        <input type="radio" id="sp-9">
                                    </label>
                                </div>
                            </div> -->
                            <div class="product__details__cart__option">
                                <% if (proData.stock > 0) { %>
                                    
                                    <div class="quantity">
                                        <div class="pro-qty">
                                            <input 
                                            type="number" 
                                            value="1" 
                                            name="visibleQuantity" 
                                            min="1" 
                                            max="<%= proData.stock %>" 
                                            id="visibleQuantityInput" 
                                            oninput="updateHiddenQuantity(this)">
                                        </div>
                                    </div>
                                    <form action="/addToCart" method="post" class="add-to-cart-form" id="addToCartForm">
                                        <input type="hidden" name="productId" value="<%= proData._id %>">
                                        <input type="hidden" name="quantity" value="1" id="hiddenQuantityInput">
                                        <button class="addbut" type="submit" id="addToCartButton">Add To Cart</button>
                                    </form>
                                <% } else { %>
                            
                                    <p style="color: red;">This product is out of stock!</p>
                                    <button class="addbut" type="button" disabled style="background-color: grey; cursor: not-allowed;">
                                        Add To Cart
                                    </button>
                                <% } %>
                            <!-- <div class="product__details__last__option">
                                <h5><span>Guaranteed Safe Checkout</span></h5>
                                <img src="img/shop-details/details-payment.png" alt="">
                                <ul>
                                    <li><span>SKU:</span> 3812912</li>
                                    <li><span>Categories:</span> Clothes</li>
                                    <li><span>Tag:</span> Clothes, Skin, Body</li>
                                </ul>
                            </div> -->
                        </div>
                    </div>
                </div>
                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!-- Footer Section Begin -->
    <%- include("../../views/partials/user/footer") %>
    <!-- Footer Section End -->

    <!-- Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search End -->
    
   
    

    <!-- Js Plugins -->
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.nice-select.min.js"></script>
    <script src="/js/jquery.nicescroll.min.js"></script>
    <script src="/js/jquery.magnific-popup.min.js"></script>
    <script src="/js/jquery.countdown.min.js"></script>
    <script src="/js/jquery.slicknav.js"></script>
    <script src="/js/mixitup.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- extm.min.js -->
    <script src="/hover-extended-magnify/extm.min.js"></script>
    
   



   <script>











function updateHiddenQuantity(input) {
  const visibleQuantity = parseInt(input.value, 10);
  const maxStock = parseInt(input.max, 10);

  if (visibleQuantity > maxStock) {
    Swal.fire({
      icon: 'warning',
      title: 'Exceeded Stock Limit',
      text: `Only ${maxStock} items are available in stock.`,
      toast:true,
      confirmButtonText: 'Okay',
      confirmButtonColor: '#4CAF50',
    }).then(() => {
      input.value = maxStock; 
    });
  } else if (visibleQuantity < 1) {
    input.value = 1;
  }
  document.getElementById('hiddenQuantityInput').value = input.value;
}






    $(document).ready(function() {
       
        $('#magnifyImg1').extm({
            zoomLevel: 2,
            squareOverlay: true,
            position: 'right',
            rightPad: 10,
            loadingText: 'Loading...',
            lazy: true
        });
        
        $('#magnifyImg2').extm({
            zoomLevel: 2,
            squareOverlay: true,
            position: 'right',
            rightPad: 10,
            loadingText: 'Loading...',
            lazy: true
        });
        
        $('#magnifyImg3').extm({
            zoomLevel: 2,
            squareOverlay: true,
            position: 'right',
            rightPad: 10,
            loadingText: 'Loading...',
            lazy: true
        });
    });


    document.addEventListener('DOMContentLoaded', function () {
        const addToCartForms = document.querySelectorAll('.add-to-cart-form');
        
        addToCartForms.forEach(form => {
            form.addEventListener('submit', function (event) {
                event.preventDefault(); 
                fetch(form.action, {
                    method: 'POST',
                    body: new URLSearchParams(new FormData(form)),
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded'
                    }
                })
                .then(response => response.json())
                .then(data => {

                    Swal.fire({
                        title: 'Product added to cart!',
                        text: 'Would you like to go to the cart or continue shopping?',
                        icon: 'success',
                        toast:true,
                        showCancelButton: true,
                        confirmButtonText: 'Go to Cart',
                        cancelButtonText: 'Continue Shopping'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            window.location.href = "/cart";
                        }
                    });
                })
                .catch (error=> {
    Swal.fire({
        // toast:true,
      icon: 'error',
      title: 'Error',
      text: 'Please try again with Login.',
      confirmButtonText: 'OK',
    });
  })
            });
        });
    });

</script>


</body>

</html>